/*-----------------------------------
基本設定
-----------------------------------*/
* {
	font-style: normal;
	margin: 0px;
	padding: 0px;
}
html {
	background: #fff;
	overflow-y:scroll;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 75%;
	line-height: 1.6;
	color: #333;
	background-color: #FFF;
}
hr {
	display: none;
}
img {
	vertical-align: bottom;
	border: 0;
}
a:link {
	color: #333;
	text-decoration: underline;
}
a:visited {
	color: #999;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration: none;
}
h3 {
	text-indent: -9999px;
	height: 40px;
	margin-bottom: 20px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
	background: url(../images/yajirushi_icon.gif) no-repeat;
	margin-bottom: 20px;
	margin-left: 15px;
	padding-left: 25px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #cd3333;
	margin-bottom: 20px;
	padding-left: 5px;
	border-left: 3px solid #cd3333;
}
/*-----テーブル----*/
table {
	width: 460px;
	margin-left: 40px;
	border: 1px solid #999;
	border-collapse:collapse;
}
th {
	font-weight: normal;
	background: #dcdcdc;
	text-align: right;
	padding: 10px 15px;
	width: 130px;
	border-bottom: 1px solid #999;
}
td {
	padding: 10px 15px;
	width: 270px;
	border-bottom: 1px solid #999;
}
/*-----フォーム----*/
input[type="text"], textarea {
	padding: 2px;
	border: 1px solid #999;
}
form textarea#comment {
	height: 120px;
	width: 270px;
	overflow: auto;
}
form p {
	margin-top: 20px;
}
/*----- ----*/

/*-----------------------------------
全体の枠
-----------------------------------*/
#wrapper {
	margin: 0px auto;
	width:auto;
}
/*-----------------------------------
ヘッダー
-----------------------------------*/
#header {
    width: auto;
    margin-top: 30px;
    font-size: 25px;
    letter-spacing: 8px;
    position: relative;
    margin-bottom: 100px;
}

#header h1 {
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: transrate(-50%,-50%);
    -ms-transform: transrate(-50%,-50%);
    transform: transrate(-50%,-50%);
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.8)
}
#header img{
    width: 100%;
}

/*---------------------------
グローバルナビ
----------------------------*/
#global_navi {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;

}


#global_navi ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#global_navi li {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    padding: 0 24px;
    letter-spacing: .05em;
    
}

#global_navi li a {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#global_navi li a:hover {
    opacity: 1;
}

#global_navi li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
}

#global_navi li a:hover::after {
    width: 100%;
}
/*-----------------------------
メインビジュアル
------------------------------*/
#main_visual{
    width: 800px;
}
/*#index_page #main_visual{
    background: url(../images/slider_back.jpg);
    padding-top: 22px;
    padding-bottom: 2px;
    height: 296px;
}*/
/*-----------------------------
アバウト
-----------------------------*/
.h2{
    text-align: center;
    font-size: 40px;
    margin:150px 0 30px 0px;
}
#about_contents img{
    float: left;
    margin: 0 50px 0 400px;
    border-radius: 50%;
}
#about_contents li{
    width: 630px;
    font-size: 20px;
    margin-left: 620px;
}


/*--------------------------
ワークス
--------------------------*/

#works_contents img:hover{
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}
#works_contents table{
    margin:0 auto;
}
.ptag{
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px; 
}
/*--------------------------
スキル
--------------------------*/

#skill_contents{
    width: 800px;
    margin: auto;
    font-size: 18px;
}

/*------------------------------
フィーチャー
------------------------------*/
#feature_contents{
    width: 800px;
    margin: auto;
}

/*------------------------------
コンタクト
-------------------------------*/
#contact{
    height: 500px;
    padding-top: 5px;
    margin: 0 auto;
    position: relative;
}
#contact h2{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}
#contact table{
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;    
    text-align: center;
    margin: auto;

}
#contact table,tr,td{
    border: none;
}
#contact a{
    text-decoration: none;
    
}
#contact a:hover{
    opacity:0.5;
}
#contact a:visited{
    color: #000;
}
#pagetop{
    text-align: center;
    padding: 20px 0 60px 0;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    font-family:cursive;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #999;
}
footer{
    text-align: center;
    padding: 10px 0;
    position: absolute;
    font-size: 15px;
    font-family: inherit;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}
#pagetop a:hover{
    opacity:0.5;
}
#pagetop a:visited{
    color: #000;
}
address{
    font-size: 15px;
    text-align: center;
}






